<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="Amount" value="21.09" />
      <add key="AmtOther" value="0.00" />
      <add key="Operator" value="TestHarness" />
      <add key="Ticket" value="11AA22BB" />
      <add key="MerchantTransactionID" value="ABCD" />
      <add key="Demo" value="false" />
      <add key="PartialAuth" value="false" />
      <add key="CustomFields" value="7,8" />
      <add key="ReceiverURL" value="http://localhost:5112" />
      <add key="ReceiverURLs" value="http://localhost:5112, https://dev-receiver.tcipa.net, https://dev2-receiver.tcipa.net, https://test-receiver.tcipa.net, https://test2-receiver.tcipa.net, https://test3-receiver.tcipa.net, https://uat2-receiver.tcipa.net, https://uat2b-receiver.tcipa.com, https://prod3-receiver.tcipa.com" />
      <add key="Aggregator" value="YQM0BX" />
      <add key="PastTransactions" value="100-0123456789" />
      <add key="LicenseKey" value="swdasdfas234j-=21934=14oieuK#SDASER" />
      <add key="TCCustID" value="1117600" />
      <add key="TCPassword" value="ipa1234" />
      <add key="LoggingLevels" value="DEBUG|INFO|WARNING|ERROR|FATAL"/>
      <add key="MessageWrapLength" value="240"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
